<!doctype html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home</h2>

{% if user.is_authenticated %}
Hi, {{ user.get_username }}!<br /><br />

date_joined: {{ user.date_joined }}<br />
email: {{ user.email }}<br />
first_name: {{ user.first_name }}<br />
id: {{ user.id }}<br />
is_active: {{ user.is_active }}<br />
is_staff: {{ user.is_staff }}<br />
is_superuser: {{ user.is_superuser }}<br />
last_login: {{ user.last_login }}<br />
last_name: {{ user.last_name }}<br />
password: {{ user.password }}<br />
username: {{ user.username }}<br />

<p><a href="{% url 'account_logout' %}">Sign out</a></p>
{% else %}
<p><a href="{% url 'account_login' %}">Sign in</a></p>
<p><a href="{% url 'account_signup' %}">Sign up</a></p>
{% endif %}

{% endblock %}